* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    transition : all .6s;
}

body {
    font-family : 'Noto Sans', Helvetica;
    width :100%;
    height : 100%;
    background : linear-gradient(to right,rgba(120, 240, 161, 0.8), rgba(29, 111, 163, 0.8) );
}

/*Reset*/
img,
div,
section {
    display : block;
}

li {
    list-style : none;
}

a {
    text-decoration : none;
}

body::-webkit-scrollbar {
    width : 0px;
}

#viewport {
    position : fixed;
    padding : .5em;
    top : 0;
    right : 0;
    background : orange;
    color : #fff;
    z-index : 3000;
}

.wrap {
    margin : 0 auto;
    width : 100%;
    display : grid;
    grid-template-rows : auto;
    grid-template-columns : repeat(2, 1fr);
    grid-template-areas : "menu menu" "hero hero" "services services" "spotlight spotlight";
}
@media screen and (min-width : 600px){
    .wrap {
        margin-top : 3em;
        width : 80%;
    }
}


.menu {
    position : relative;
    grid-area : menu;
    width : 100%;
    height : 80px;
    top: 0;
    left : 0;
    right : 0;
    background : rgba(238, 238, 238,.95);
    display : flex;
}

.menu__container {
    margin : auto;
    width : 80%;
    height : auto;
    display : flex;
    justify-content : space-between;
    align-items : center;
    
}

.menu__icon {
    position : relative;
    width : 30px;
    height : 2px;
    /*line-height : 1em;*/
    /*outline : 1px solid red;*/
    cursor : pointer;
    background : #444;
    box-shadow : 0 -7px 0 #444, 0 7px 0 #444;
}

.menu__list {
    position : relative;
    display : none;
}

.menu__item {
    position : relative;
    list-style : none;
    padding : 1em;
    display : block;
}

@media screen and (min-width: 600px){
    .menu__icon {
        display : none;
    }
    .menu__list {
        display : inline-flex;
    }
    .menu__item {
        
    }
}

.fixed{
    position : fixed;
    top : 0;
    margin : auto;
    width : 100%;
    height : 80px;
    /*background : #ccc;*/
    z-index : 2000;
}
@media screen and (min-width : 600px) {
    .fixed {
        width : 80%;
    }
}

.hero {
    grid-area : hero;
    width : 100%;
    height : auto;
    background : orange;
    display : flex;
    padding : 3.5em;
    padding-top : 4em;
    padding-bottom : 4em;
    
}

.hero__container {
    margin : auto;
    width : 80%;
    height : auto;
    background : red;
    max-width : 700px;
}

.hero__title,.hero__description {
    padding : 1.5em;
    text-align : center;
}

.hero__title {
    padding-bottom : .5em;
}

.hero__description {
    padding-top : .5em;
}

.services {
    grid-area : services;
    width : 100%;
    height : auto;
    background : #ddd;
}

.services__container-title {
    width : 100%;
    height : 100px;
    background : inherit;
    display : flex;
}
.services__title {
    margin : auto;
}

.services__container {
    background : inherit;
    display : grid;
    grid-gap : 5px;
    grid-template-rows : auto;
    grid-template-columns : 1fr;
}
@media screen and (min-width : 600px) {
    .services__container {
        grid-template-columns : repeat(2, 1fr);
    }
}


.services__item{
    /*width : 200px;*/
    height : 250px;
    display : flex;
    align-items : center;
    justify-content : center;
}


.spotlight {
    grid-area : spotlight;
    display : grid;
    grid-template-rows : auto;
    grid-template-columns : repeat(auto-fit, minmax(250px,1fr));
}

.spotlight__img,
.spotlight__description {
    height : 250px;
}

.spotlight__img {
    background : orange;
}

.spotlight__description {
    background : olive;
}