* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    transition : all .6s;
}

body {
    font-family : 'Noto Sans', Helvetica;
    width :100%;
    height : 100%;
    background : linear-gradient(to right,rgba(120, 240, 161, 0.8), rgba(29, 111, 163, 0.8) );
}

.wrap {
    margin : 3em auto;
    width : 80%;
    display : grid;
    grid-template-rows : auto;
    grid-template-columns : repeat(2, 1fr);
    grid-template-areas : "menu menu" "hero hero" "services services" "spotlight spotlight";
}

.menu {
    position : relative;
    grid-area : menu;
    width : 100%;
    height : 80px;
    background : #ccc;
    display : flex;
}

.menu__container {
    margin : auto;
    width : 80%;
    height : auto;
    display : flex;
    justify-content : space-between;
    align-items : center;
    
}

.fixed{
    position : fixed;
    top : 0;
    margin : auto;
    width : 80%;
    height : 80px;
    /*background : #ccc;*/
    z-index : 2000;
}

.hero {
    grid-area : hero;
    width : 100%;
    height : auto;
    background : orange;
    display : flex;
    padding : 3.5em;
    padding-top : 4em;
    padding-bottom : 4em;
    
}

.hero__container {
    margin : auto;
    width : 80%;
    height : auto;
    background : red;
    max-width : 700px;
}

.hero__title,.hero__description {
    padding : 1.5em;
    text-align : center;
}

.hero__title {
    padding-bottom : .5em;
}

.hero__description {
    padding-top : .5em;
}

.services {
    grid-area : services;
    width : 100%;
    height : auto;
    background : #ddd;
}

.services__container-title {
    width : 100%;
    height : 100px;
    background : inherit;
    display : flex;
}
.services__title {
    margin : auto;
}

.services__container {
    background : inherit;
    display : grid;
    grid-gap : 5px;
    grid-template-rows : repeat(2,100px);
    grid-template-columns : repeat(2,1fr);
}

.services__item{
    display : flex;
    align-items : center;
    justify-content : center;
}


.spotlight {
    grid-area : spotlight;
    display : grid;
    grid-template-rows : minmax(250px,1fr);
    grid-template-columns : repeat(2, 1fr);
}

.spotlight__img {
    background : orange;
}

.spotlight__description {
    background : olive;
}